* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    height: fit-content;
}

/* ABOUT PAGE */
.wrapper{
    width: 675px;
    border-radius: 15px;
    padding: 20px;
    background-color: #ddbb90;
}

.wrapper h1{
    text-align: center;
    font-family: Trocchi;
}

hr{
    width: 100px;
    margin: 10px auto;
    color: white;
    text-decoration-line: none;
}

.utensils-img {
  position: relative;
  height: 8vh;
}

.members{
    display: flex;
}

.team-mem {
    margin: 8px;
}

#dietary-restrictions-container {
    width: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 0 0 33.3333%;
    gap: 2vh;
}

.team-mem img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
}

.team-mem h3, .team-mem p{
    text-align: center;
    font-size: 12px;
    margin: 7px;
}

.contact-container {
    background-color: #ddbb90;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 675px;
    height: auto;
    
    flex-direction: column;
    margin-top: 900px;
    position: absolute;  
}

.contact-container h1{
    font-family: poltawski nowy;
    margin-bottom: 10px;
}

.contact-container form {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-container p{
    font-family: trocchi;
}

.contact-container input,
.contact-container textarea {
    width: 650px;
    padding: 8px;
    color: #333;
    margin-bottom: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: trocchi;
}

.contact-container button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.contact-container button:hover {
    background-color: #e74c3c;
}

#contact-form {
    height: 45vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}