* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Styling homepage */
.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 3vh;
  }
  
  #welcome-message-container {
    height: 20vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
  }

  #welcome-message-container div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .welcome-message {
    text-align: center;
  }
  
  .utensils-img {
    position: relative;
    height: 8vh;
  }
  
  #dietary-restrictions-container {
      width: 60%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 0 0 33.3333%;
      gap: 5vh;
      display: flex;
  }
  
  .dietary-restriction {
    width: 90px;
    height: 90px;
    padding: 2vw;
    border: 7px solid #af8754;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
  }
  
  .dietary-restriction label {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  
  .dietary-restriction:hover {
    cursor: pointer;
    transform: scale(105%);
  }
  
  .dietary-restriction img {
    height: 6vh;
  }
  
  .restriction-checkbox {
    transform: scale(200%);
    position: relative;
    left: -4vw;
    top: -2vh;
    cursor: pointer;
  }

.continue-btn {
  margin-top: 4vh;
  border: 3px solid black;
  border-radius: 10px;
  height: 6vh;
  width: 10vw;
  background-color: #e3a75d;
  font-weight: bolder;
  font-size: larger;
  transition: 0.2ms smooth;
}

.continue-btn:hover {
  cursor: pointer;
  transform: scale(105%);
}