* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f8f8f8;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

/* Styling homepage */
.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-top: 15vh;
  }
  
  #welcome-message-container {
    height: 20vh;
    width: 50vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5vh;
  }

  #welcome-message-container div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  .welcome-message {
    text-align: center;
  }
  
  .utensils-img {
    position: relative;
    height: 8vh;
  }
  
  #dietary-restrictions-container {
      width: 60%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex: 0 0 33.3333%;
      gap: 5vh;
      display: flex;
  }
  
  .dietary-restriction {
    width: 90px;
    height: 90px;
    padding: 2vw;
    border: 7px solid #af8754;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: center;
  }
  
  .dietary-restriction label {
    display: flex;
    flex-direction: column;
    place-items: center;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    cursor: pointer;
  }
  
  .dietary-restriction:hover {
    cursor: pointer;
    transform: scale(105%);
  }
  
  .dietary-restriction img {
    height: 6vh;
  }
  
  .restriction-checkbox {
    transform: scale(200%);
    position: relative;
    left: -4vw;
    top: -2vh;
    cursor: pointer;
  }

.continue-btn {
  margin-top: 4vh;
  border: 3px solid black;
  border-radius: 10px;
  height: 6vh;
  width: 10vw;
  background-color: #e3a75d;
  font-weight: bolder;
  font-size: larger;
  transition: 0.2ms smooth;
}

.continue-btn:hover {
  cursor: pointer;
  transform: scale(105%);
}

#results-page {
  height: 100%;
  top: -24vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

.select-restrictions {
  width: 30vw;
  height: 4vh;
  cursor: pointer;
  margin-bottom: 3vh;
}

.tag {
  border: 2px solid #af8754;
  border-radius: 20px;
  width: 12vw;
  height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.tag img {
  width: 10%;
  cursor: pointer;
}

#tags-selected {
  height: auto;
  width: 100%;
  margin-bottom: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

#number-of-results {
  margin-bottom: 3vh;
}

#results-container {
  margin-top: 3vh;
  width: 60vw;
}

.result {
  border: 7px solid #af8754;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2vh;
  margin-bottom: 2vh;
}

.result img {
  aspect-ratio: 1/1;
  width: 15%;
}

.div-info {
  width: 40vw;
}

.div-tools {
  width: fit-content;
  height: 100%;
  font-weight: bolder;
  font-size: xx-large;
}

