.grid {
  display: grid;
  margin: 0px 0;
  grid-template-columns: 60% 40%;
  padding: 0 30px;
  margin-top: 12vh;
}
.column1,
.column2 {
  width: 100%;
}
.image-container {
  width: 100%;
  height: 320px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 5px;
}

.restaurant-image {
  display: block;
  width: 100%;
  height: 100%;
}
.embeded-map {
  display: block;
  width: 100%;
  height: 320px;
  border: 0;
}
.gMap-btn {
  display: block;
  text-align: center;
  text-decoration: none;
  margin: 20px auto 5px;
  width: 100%;
  padding: 10px 0;
  background-color: #f6f0e6;
  border-radius: 4px;
  border: 2px solid #e3a75d;
  color: #af8754;
  font-weight: bold;
}
/* COLUMN 1 */
.column2 {
  padding: 20px;
}
.restaurant-name {
  font-size: 4rem;
  color: #af8754;
}

.tags {
  margin: 10px 0;
  display: flex;
  flex-wrap: wrap;
  gap: 2px;
  width: 100%;
}
.tags li {
  list-style: none;
  display: block;
  background-color: #f6f0e6;
  border: 1px solid #e3a75d;
  padding: 5px 10px;
  margin: 2px 0;
  color: #e3a75d;
}

.dates {
  width: fit-content;
  background-color: #f6f0e6;
  border: 1px solid #e3a75d;
  padding: 5px 15px;
}

.dates li {
  list-style: none;
  margin-top: 2px;
  color: #ddbb90;
}
.dates li span {
  display: inline-block;
  width: 100px;
  font-weight: bold;
  color: #e3a75d;
}

.description {
  margin: 20px 0;
  font-size: 1.2rem;
  padding: 0;
}

.price_tag,
.distance-mile,
.get-there {
  list-style: none;
  display: block;
  background-color: #f6f0e6;
  border: 1px solid #e3a75d;
  padding: 5px 10px;
  margin: 10px 0;
  width: fit-content;
  color: #ddbb90;
}
.price_tag strong,
.distance-mile strong,
.get-there strong {
  color: #e3a75d;
}

.restaurant-link {
  display: block;
  width: fit-content;
  color: #af8754;
  text-decoration: none;
  padding: 10px;
  background-color: #f6f0e6;
  border-radius: 10px;
  border: 1px solid #af8754;
}

.heart {
  font-size: 2.5rem;
}
